{{> header}}

<div class="container">
    <section>
        <div class="container mx-3">
            <h1 class="head-title">Pizza Delivery</h1>
            <p>
                Welcome to pizza delivery service. This is the place when you may chose the most delicious pizza you
                like from wide variety of options!
            </p>
            <br>
            <p><b>We're performing delivery free of charge in case if your order is higher than 20$</b></p>
            <a class="btn btn-dark custom-btn" href="/login/">Sign In and Order</a>
        </div>
    </section>
</div>