{{> menu-nav}}

<div class="container">
    <h1 class="mt-2">Order has been placed successfully!</h1>
    <h4 class="alert alert-success">You will receive notification by email with order details</h4>
    <a href="/menu/list" class="btn btn-dark">Go an order some more</a>
</div>

<script>
    localStorage.clear();
</script>