<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="nav-img" src="/img/pizza-logo.jpg" alt="err">
            </a>
            <div class="topnav">
                <div class="topnav-right">
                     <a href="/menu/list">Menu</a>
                    <a href="/login/">Login</a>
                    
                    <a href="/register/">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>
</div>