<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/menu/list">
                <img class="nav-img" src="/img/pizza-logo.jpg" alt="err">
            </a>
            <div class="topnav">
                <div class="topnav-right ">
                    <a href="/menu/list">Menu</a>
                    <a href="/menu/cart/:id">Cart</a>
                    <a href="/profile">Profile</a>
                    <a href="/menu/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>